In [28]:
import pandas as pd
categor_data = ['blue','purple','orange','purple']
colors_df = pd.DataFrame(categor_data, columns=['Colors'])

In [29]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
transformed = pd.DataFrame(ohe.fit_transform(colors_df).toarray(),columns=ohe.categories_)
transformed.set_index(pd.Index(categor_data))

       blue orange purple
blue    1.0    0.0    0.0
purple  0.0    0.0    1.0
orange  0.0    1.0    0.0
purple  0.0    0.0    1.0

In [60]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'sam sam is super happy',
    'sam sam is very sad',
    'sam sam is scary angry',
]
vectorizer = CountVectorizer()
transformed = pd.DataFrame(vectorizer.fit_transform(corpus).toarray(),columns=vectorizer.get_feature_names())
transformed

   angry  happy  is  sad  sam  scary  super  very
0      0      1   1    0    2      0      1     0
1      0      0   1    1    2      0      0     1
2      1      0   1    0    2      1      0     0

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
transformed = pd.DataFrame(vectorizer.fit_transform(corpus).toarray(),columns=vectorizer.get_feature_names())
transformed

,angry,happy,is,sad,sam,scary,super,very
0,0.000000,0.516802,0.305232,0.000000,0.610463,0.000000,0.516802,0.000000
1,0.000000,0.000000,0.305232,0.516802,0.610463,0.000000,0.000000,0.516802
2,0.516802,0.000000,0.305232,0.000000,0.610463,0.516802,0.000000,0.000000